<ion-header>
    <ion-navbar>
        <ion-buttons>
            <button ion-button clear (click)="dismissModal()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{ book.name }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
   <ion-card>
       <ion-card-header>{{ book.name }}</ion-card-header>
       <ion-card-content>Description du livre ?</ion-card-content>
       <ion-grid>
        <ion-row>
            <ion-col>
                <button
                 ion-button
                 full
                 color="danger"
                 [disabled]="!book.isLend"
                 (click)= onLendBook()>Prêter le livre</button>
            </ion-col>
            <ion-col>
                <button
                 ion-button
                 full
                 color="secondary"
                 [disabled]="book.isLend"
                 (click)="onLendBook()"
                 >Rendre</button>
            </ion-col>
        </ion-row>
       </ion-grid>
   </ion-card>
</ion-content>

