<ion-header>
  <ion-navbar>
    <ion-title>
      Blackbook
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    <button ion-button (click)="onGoToBook()">Book</button>
  </p>
</ion-content>

<ion-footer>
  Le footer 
</ion-footer>