<ion-header>
    <ion-navbar>
            <ion-buttons start> 
                <button ion-button icon-only (click)="onTogglemenu()">
                    <ion-icon name="menu"></ion-icon>
                </button>
            </ion-buttons>
        <ion-title>
            <ion-icon name="book"></ion-icon> Livres
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <button ion-item
                ion-start
                *ngFor="let book of bookList; let i =index" 
                (click)="onLoadBook(i)"
                [ngClass]="{'is-lend': book.isLend, 'is-here': !book.isLend}">
               <h2>{{ book.name }} 
                    <ion-icon name="radio-button-on" 
                    [color]='book.isLend ? "secondary" : "danger"'></ion-icon>  </h2> 
               <h4>{{ book.auteur }}</h4> 
        </button>
    </ion-list>
</ion-content>