<ion-header>
    <ion-navbar>
        <ion-buttons>
            <button ion-button clear (click)="dismissModal()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{cd.artiste}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card color="success">
        <ion-card-header>{{ cd.artiste }}</ion-card-header>
            <ion-card-content>Description du CD ?</ion-card-content>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <button
                     ion-button
                     full
                     color="danger"
                     [disabled]="!cd.isLend"
                     (click)= onLendCd()>Prêter le Cd</button>
                </ion-col>
                <ion-col>
                    <button
                     ion-button
                     full
                     color="secondary"
                     [disabled]="cd.isLend"
                     (click)="onLendCd()"
                     >Rendre</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>