<ion-header>
    <ion-navbar>
            <ion-buttons start> 
                    <button ion-button icon-only (click)="onTogglemenu()">
                        <ion-icon name="menu"></ion-icon>
                    </button>
                </ion-buttons>
        <ion-title>
                <ion-icon name="disc"></ion-icon> CD
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list >
        <button ion-item
                ion-start 
                *ngFor="let cd of cdList; let i = index"
                (click)="onLoadCd(i)">
                <h2>{{ cd.artiste}}
                    <ion-icon name="radio-button-on" 
                    [color]='cd.isLend ? "secondary" : "danger"'></ion-icon>
                </h2>
                <h4>{{cd.style}} </h4>
        </button>
    </ion-list>
</ion-content>